@import "tailwindcss";

@keyframes border-spin {
  to {
    transform: rotate(360deg);
  }
}

.ai-border {
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  background: linear-gradient(135deg, #18181b, #09090b);
}

.ai-border::before {
  content: "";
  position: absolute;
  inset: -150%;
  background: conic-gradient(
    #8b5cf6,
    #c084fc,
    #ffd700,
    #c084fc,
    #8b5cf6
  );
  animation: border-spin 4s linear infinite;
}

.ai-border::after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 22px;
  background: linear-gradient(135deg, #18181b, #09090b);
}

.ai-border > * {
  position: relative;
  z-index: 1;
}
/* ================= PREMIUM AI CARD ================= */

@keyframes premiumBorder {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ai-card {
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  padding: 2px;
}

.ai-card::before {
  content: "";
  position: absolute;
  inset: -200%;
  background: conic-gradient(
    #FFD700,
    #8B5CF6,
    #FFD700,
    #A855F7,
    #FFD700
  );

  animation: premiumBorder 4s linear infinite;
}

.ai-card-content {
  position: relative;
  z-index: 2;
  border-radius: 22px;
  background: #09090b;
  transition: .35s;
}

.ai-card:hover .ai-card-content{
  transform: scale(.98);
  box-shadow:
      0 0 25px rgba(139,92,246,.45),
      0 0 60px rgba(250,204,21,.25);
}