@import "tailwindcss";
@keyframes aiBorderRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ai-border {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  isolation: isolate;
}

.ai-border::before {
  content: "";
  position: absolute;
  width: 250%;
  height: 250%;
  left: -75%;
  top: -75%;
 background: conic-gradient(
  transparent 0deg,
  transparent 300deg,
  #8b5cf6 325deg,
  #c084fc 345deg,
  #ffd700 360deg
);
  animation: aiBorderRotate 3.5s linear infinite;
}

.ai-border::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: linear-gradient(to bottom right, #18181b, #09090b);
  border-radius: 22px;
  z-index: 1;
}

.ai-border > * {
  position: relative;
  z-index: 2;
}